/* Tailwind CSS */
@import "tailwindcss";


::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

/* Fuente personalizada */
@font-face {
  font-family: "CodeRush";
  src: url("./assets/fonts/coderush.ttf") format("truetype");
}

.font-coderush {
  font-family: "CodeRush", sans-serif;
}

/* Colores de fondo */
.rosa {
  background-color: #f49192;
}

.naranja {
  background-color: #f8b459;
}

.celeste {
  background-color: #78bcd9;
}

.violeta {
  background-color: #4c5474;
}

.violeta-oscuro {
  background-color: #373c50;
}

/* Colores de texto */
.borde-fuente {
  text-shadow: 1px 1px 2px #373c50, -1px -1px 2px #373c50, 1px -1px 2px #373c50,
    -1px 1px 2px #373c50;
}
.borde-fuente-blanco {
  text-shadow: 1px 1px 2px white, -1px -1px 2px white, 1px -1px 2px white,
    -1px 1px 2px white;
}

.rosa-text {
  color: #f49192;
}

.naranja-text {
  color: #f8b459;
}

.celeste-text {
  color: #78bcd9;
}

.celeste-text {
  color: #4c5474;
}

.celeste-oscuro-text {
  color: #373c50;
}

/* Clases comunes de diseño responsivo */
@media (max-width: 640px) {
  /* Para pantallas pequeñas (móviles) */
  .font-coderush {
    font-size: 14px;
  }

  .bg-rosa,
  .bg-naranja,
  .bg-celeste,
  .bg-violeta {
    padding: 10px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  /* Para pantallas medianas (tabletas) */
  .font-coderush {
    font-size: 16px;
  }

  .bg-rosa,
  .bg-naranja,
  .bg-celeste,
  .bg-violeta {
    padding: 15px;
  }
}

@media (min-width: 1025px) {
  /* Para pantallas grandes (escritorio) */
  .font-coderush {
    font-size: 18px;
  }

  .bg-rosa,
  .bg-naranja,
  .bg-celeste,
  .bg-violeta {
    padding: 20px;
  }
}
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, sunset;
}