.bg-rosa{
  background-color: #f49192;
}

.bg-naranja{
  background-color: #f8b459;
}

.bg-celeste{
  background-color: #78bcd9;
}

.bg-violeta{
  background-color: #4c5474;
}

.color-rosa{
  color: #f49192;
}

.color-naranja{
  color: #f8b459;
}

.color-celeste{
  color: #78bcd9;
}

.color-violeta{
  color: #4c5474;
}